<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Short URL</title>
  </head>
  <body>
    <div class="container">
      <form action="/" class="formContainer" method="post">
        <label for="url">Type your url*</label>
        <input type="url" name="url" required placeholder="https://www.your-website.com" />
        <br />
        <label for="clicks">Type max clicks</label>
        <input min="1" type="number" name="clicks" placeholder="5" />
        <br />
        <p>Note: Leave max clicks empty to set default value infinite.</p>
        <button type="submit">Submit</button>
      </form>
      <div class="shortUrl">
        <span class="shortUrlTitle">
          <% if (url.length > 0) { %> Short URL:
          <span id="shortUrl" onclick="copyTextToClipBoard()"><%= url %></span>
          <%} else { %> <% } %>
        </span>
      </div>
    </div>
    <script>
      function copyTextToClipBoard() {
        var text = document.getElementById('shortUrl')
        navigator.clipboard
          .writeText(text.innerHTML)
          .then(() => alert('URL copied to clipboard'))
      }
    </script>
  </body>
</html>
