* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  background-color: hsl(0, 0%, 90%);
}

.container {
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.formContainer {
  min-width: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

input {
  border: none;
  outline: none;
  width: 100%;
  padding: 20px 20px;
  border: 1px solid lightgray;
  margin: 20px 0;
  border-radius: 10px;
  font-size: 1.5rem;
}

::placeholder {
  color: lightgray;
}

input:focus {
  outline: 2px solid hsl(198.33deg 93.75% 62.35%);
}

input:focus::placeholder {
  color: transparent;
}

label {
  color: #79828f;
}

form p {
  color: #808791;
  font-size: normal;
  margin-bottom: 20px;
}

button[type='submit'] {
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
  background-color: hsl(216.25deg 32% 29.41%);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.shortUrl {
  min-width: 70%;
  padding: 20px 0;
}

.shortUrlTitle {
  color: black;
}

.shortUrlTitle a {
  color: black;
  text-decoration: none;
}

#shortUrl {
  cursor: pointer;
}
